*{
    padding: 0;
    margin:0;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items:center;
}

#board{
    background: linear-gradient(rgba(255, 255, 255, 0.514), rgba(121, 251, 255, 0.5));
    border: 3px solid rgb(255, 62, 197);
    width: 90vmin;
    height: 92vmin;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: rgb(255, 255, 255);
    box-shadow:  1px 1px 5px rgba(255, 255, 255, 0.466),  -1px -1px 5px rgba(255, 255, 255, 0.473);
    border-radius:20%;
    z-index:3;
}

.snake{
    /* background-color: purple; */
    border: 5px solid white;
    border-radius:20%;
    box-shadow:  1px 1px 5px rgba(255, 255, 255, 0.466),  -1px -1px 5px rgba(255, 255, 255, 0.473);
    background-color: rgba(0, 255, 255, 0.219);
}

.food{
    background: radial-gradient(rgb(81, 255, 0),rgb(0, 17, 255));
    /* background-color: rgb(255, 174, 0); */
    border: 3px dotted white;
    border-radius: 100%;
    box-shadow:  1px 1px 5px rgba(255, 255, 255, 0.466),  -1px -1px 5px rgba(255, 255, 255, 0.473);

    /* box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.466), inset -2px -2px 10px rgba(255, 255, 255, 0.473); */
    /* -webkit-box-shadow: 5px 5px 5px 5px #FFFFFF;
box-shadow: 5px 5px 5px 5px #FFFFFF; */
    /* box-shadow: inset 5px 5px gold; */
}